@media (min-width: 768px) and (max-width: 1023px) {
    .content-ecs .login-logo-1-1 {
        height: auto;
        object-fit: cover;
        width: 277px;
    }

    .banner .left {
        width: 50%;
        margin-bottom: 0;
        padding: 30px;
    }

    .banner {
        min-width: -webkit-fill-available;
        align-items: normal;
    }

    .banner .rectangle {
        width: 50%;
        height: -webkit-fill-available;
    }

    .home-educational-frame-38252 {
        margin-right: 230px;
        justify-content: flex-end;
    }

    .content-ecs .menu-button-row-ecs {
        width: -webkit-fill-available;
        justify-content: space-between;
    }

    .content-ecs .menu-button-ecs {
        width: -webkit-fill-available;
        margin-top: 100px;
    }

    .content-ecs .frame-38454 {
        width: -webkit-fill-available;
    }

    .content-ecs .vector-14 {
        height: 1px;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 26px;
        width: -webkit-fill-available;
    }

    .content-ecs .frame-38312 {
        gap: 0;
        width: -webkit-fill-available;
        justify-content: space-between;
    }

    .content-ecs .frame-38449 {
        width: -webkit-fill-available;
        gap: 16px;
    }

    .content-ecs .input-select {
        width: -webkit-fill-available;
    }
}

@media (max-width: 767px) {
    .content-ecs .login-flex-row {
        flex-direction: column;
    }

    .content-ecs .login-logo-1-1 {
        height: auto;
        object-fit: cover;
        width: 199px;
    }

    .content-ecs .login-card-login {
        width: -webkit-fill-available;
    }

    .banner {
        flex-direction: column;
        min-width: -webkit-fill-available;
    }

    .banner .rectangle {
        width: -webkit-fill-available;
        height: auto;
    }

    .home-educational-frame-38252 {
        align-items: center;
        display: inline-flex;
        gap: 8px;
        margin-right: 0;
        margin-top: 22px;
        position: relative;
    }

    .banner .left {
        width: -webkit-fill-available;
        margin-top: 20px;
    }

    .content-ecs .menu-button-ecs {
        width: -webkit-fill-available;
        margin: 0;
    }

    .content-ecs .menu-button-row-ecs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: -webkit-fill-available;
        row-gap: 30px;
        column-gap: 0;
    }

    .content-ecs .menu-button-button-1 {
        width: 100%;
    }

    .content-ecs .frame-38454 {
        width: -webkit-fill-available;
    }

    .dis-c {
        display: flex;
        justify-content: center;
    }

    .content-ecs .vector-14 {
        height: 1px;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 26px;
        width: -webkit-fill-available;
    }

    .content-ecs .frame-38312 {
        gap: 0;
        width: -webkit-fill-available;
        justify-content: space-between;
    }

    .content-ecs .frame-38449 {
        width: -webkit-fill-available;
        gap: 16px;
    }

    .content-ecs .input-select {
        width: -webkit-fill-available;
    }





}