

@media (min-width: 768px) and (max-width: 1023px) {
    
}

@media (max-width: 767px) {

    .print-document-history-frame-38519 {
        width: -webkit-fill-available;
    }

    .print-document-history-frame-38357 {
        width: -webkit-fill-available;
    }

    .print-document-history-frame-38455 {
        width: -webkit-fill-available;
        height: auto;
        flex-direction: column;
    }

    .print-document-history-input-search {
        width: -webkit-fill-available;
    }

    .print-document-history-frame-2 {
        width: -webkit-fill-available;
    }

    .print-document-information-frame-38357 {
        width: -webkit-fill-available;
    }

    .print-document-information-frame-38519 {
        width: -webkit-fill-available;
    }

    .print-document-information-frame-38455 {
        width: -webkit-fill-available;
        height: auto;
        flex-direction: column;
    }

    .print-document-information-input-search {
        width: -webkit-fill-available;
    }

    .print-document-information-frame-2 {
        width: -webkit-fill-available;
    }

    
    
}