.header-ecs {
    align-items: center;
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 80px;
    justify-content: flex-end;
    min-width: 1440px;
    padding: 6px 87.8px;
    width: auto;
  }