.main {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2345px;
  width: 1440px;
}

.main .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.main .navbar {
  align-items: center;
  display: inline-flex;
  gap: 50px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.main .navbar-link-text-1 {
  text-decoration: underline;
}

.main .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 171px;
  position: relative;
}

.main .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.main .vector-1 {
  height: 35px;
  position: relative;
  width: 35px;
}

.main .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 382px;
  height: 90px;
  margin-left: 100px;
  margin-top: 62px;
  min-width: 705px;
}

.main .button-3 {
  background-color: var(--pink);
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  padding: 8px 24px;
}

.main .icon-back {
  height: 24px;
  position: relative;
  width: 24px;
}

.main .text_label {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 600;
  text-align: center;
}

.main .text-6 {
  align-self: flex-end;
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48.0px;
  min-width: 169px;
  text-align: center;
  white-space: nowrap;
}

.main .frame-38327 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 1.0px;
  margin-top: 105px;
  position: relative;
  width: 1241px;
}

.main .frame-38385 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.main .frame-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bggrey);
  border-radius: 8px;
  flex: 1;
  flex-grow: 1;
  height: 42px;
  overflow: hidden;
  position: relative;
}

.main .frame-38329-1 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 16px;
  position: relative;
  top: 8px;
}

.main .icon {
  height: 20px;
  position: relative;
  width: 20px;
}

.main .text_input {
  background-color: transparent;
  border: 0;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
  width: 170px;
}

.main .text_input::placeholder {
  color: #70707099;
}

.main .frame-38329 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 16px;
  position: absolute;
  top: 8px;
}

.main .dropdown {
  height: 23px;
  left: 247px;
  position: absolute;
  top: 10px;
  width: 23px;
}

.main .frame-38387 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.main .button-4 {
  background-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 123px;
}

.main .text_label-1 {
  text-align: center;
}

.main .button-5 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 123px;
}

.main .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main .text-7 {
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36.0px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .table-product {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 20px 40px;
  position: relative;
  width: 100%;
}

.main .frame-38255 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.main .text-8 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .text-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 111px;
}

.main .text-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 421px;
}

.main .text-11 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 106px;
}

.main .text-12 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 80px;
}

.main .text-13 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 267px;
}

.main .list-product {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 108px;
  position: relative;
  width: 100%;
}

.main .frame-92 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.main .text-14 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 50px;
}

.main .frame-33 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--delta);
  border-radius: 8.66px;
  height: 110px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  width: 110px;
}

.main .image-8 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.main .frame-94 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 108px;
  justify-content: space-between;
  position: relative;
}

.main .frame-93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 421px;
}

.main .text-15 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 421px;
}

.main .frame-3832 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100px;
}

.main .frame-38319 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 17px;
  position: relative;
  width: 250px;
}

.main .frame-18 {
  align-items: center;
  background-color: var(--gallery-2);
  border-radius: 10px;
  display: flex;
  gap: 20px;
  height: 46px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  width: 110px;
}

.main .frame-3 {
  cursor: pointer;
  height: 16px;
  margin-left: -5.50px;
  position: relative;
  width: 16px;
}

.main .number {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  width: fit-content;
}

.main .frame-4 {
  cursor: pointer;
  height: 16px;
  margin-right: -5.50px;
  position: relative;
  width: 16px;
}

.main .button-6 {
  background-color: var(--pink);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 123px;
}

.main .vector {
  align-self: stretch;
  height: 1px;
  position: relative;
  width: 100%;
}

.main .x1 {
  width: 50px;
}

.main .x1-1 {
  width: 421px;
}

.main .frame {
  height: 16px;
  margin-left: -5.50px;
  position: relative;
  width: 16px;
}

.main .frame-1 {
  height: 16px;
  margin-right: -5.50px;
  position: relative;
  width: 16px;
}

.main .button {
  background-color: var(--pink);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 123px;
}

.main .x1-2 {
  width: 50px;
}

.main .x1-3 {
  width: 421px;
}

.main .x1-4 {
  width: 50px;
}

.main .x1-5 {
  width: 421px;
}

.main .text-16 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .x1-6 {
  width: 50px;
}

.main .x1-7 {
  width: 421px;
}

.main .text-17 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .x1-8 {
  width: 50px;
}

.main .x1-9 {
  width: 421px;
}

.main .text-18 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .x1-10 {
  width: 50px;
}

.main .image-8-1 {
  height: 187px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -30px;
  width: 125px;
}

.main .x1-11 {
  width: 421px;
}

.main .text-19 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .x1-12 {
  width: 50px;
}

.main .x1-13 {
  width: 421px;
}

.main .text-20 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .x1-14 {
  width: 50px;
}

.main .x1-15 {
  width: 421px;
}

.main .text-21 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .input-select-button-footer-default {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  position: relative;
  width: 1252px;
}

.main .frame-38263 {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: 658.5px;
}

.main .input-select {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 120px;
}

.main .select-field {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--geyser);
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a, inset 0px 7px 12px #ffffff14;
  display: flex;
  gap: 8px;
  height: 40px;
  overflow: hidden;
  padding: 8px 10px;
  position: relative;
  width: 100%;
}

.main .select {
  color: #6f7c8e;
  flex: 1;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.0px;
  position: relative;
}

.main .x1-10-100 {
  color: var(--bggrey);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.main .pagination {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.main .button-1 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--geyser);
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a, inset 0px 7px 12px #ffffff14;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 32px;
  padding: 8px 6px;
  width: 32px;
}

.main .icon-1 {
  height: 20px;
  margin-bottom: -2.00px;
  margin-top: -2.00px;
  position: relative;
  width: 20px;
}

.main .button-7 {
  background-color: var(--blue);
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a, inset 0px 7px 12px #ffffff14;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 32px;
  padding: 8px;
  width: 32px;
}

.main .text-sm-1 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxs);
  font-weight: 500;
}

.main .button-2 {
  background-color: var(--pattens-blue);
  border-radius: 8px;
  display: flex;
  gap: 6px;
  height: 32px;
  padding: 8px;
  width: 32px;
}

.main .text-sm {
  letter-spacing: 0;
  line-height: 21.0px;
  margin-bottom: -1.50px;
  margin-top: -3.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .text-sm-2 {
  margin-left: -1.00px;
  margin-right: -1.00px;
}

.main .frame-14 {
  align-items: center;
  background-color: var(--main);
  border-radius: 62px;
  display: flex;
  gap: 12px;
  height: 45px;
  justify-content: center;
  margin-left: 23.0px;
  margin-top: 33px;
  overflow: hidden;
  padding: 16px 54px;
  position: relative;
  width: 457px;
}

.main .n {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -7.50px;
  margin-top: -9.50px;
  position: relative;
  width: fit-content;
}

.main .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 127px;
  padding: 22px 552px;
  width: 1440px;
}

.main .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.main .button-8 {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.main .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .text-sm-3 {
  letter-spacing: 0;
  line-height: 21.0px;
  margin-bottom: -1.50px;
  margin-top: -3.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .text_label-5 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .x1-16 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.main .x3-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.frame-20 {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  /* กำหนดความสูงให้เท่ากัน */
  overflow: hidden;
}


/* ปรับขนาดและลบเส้นขอบของ select */
.custom-dropdown {
  width: 100%;
  height: 40px;
  /* กำหนดความสูง */
  padding: 5px 10px;
  /* ลด padding เพื่อให้ช่องไม่สูงเกินไป */
  font-size: 16px;
  /* ขนาดตัวอักษร */
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  position: relative;
  z-index: 2;
  line-height: normal;
  /* ปรับให้ข้อความอยู่ตรงกลาง */
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  /* ระยะห่างจากขอบขวา */
  transform: translateY(-50%);
  pointer-events: none;
}

/* screen - login-popup */

.login-popup {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1440px;
}

.login-popup .overlap-group1 {
  height: 1024px;
  position: relative;
  width: 1440px;
}

.login-popup .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  height: 76px;
  justify-content: flex-start;
  left: 0;
  padding: 22px 552px;
  position: absolute;
  top: 948px;
  width: 1440px;
}

.login-popup .card-login {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: #dce0e5;
  border-radius: 20px;
  box-shadow: 0px 1px 2px #7f7f7f1f;
  display: flex;
  flex-direction: column;
  left: 640px;
  overflow: hidden;
  position: absolute;
  top: 165px;
  width: 652px;
}

.login-popup .text-38 {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.login-popup .divider {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.login-popup .text {
  color: #6f7c8e;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.login-popup .button {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--main);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
  width: 100%;
}

.login-popup .text_label {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.login-popup .frame-38284 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.login-popup .text-4 {
  color: var(--main);
  flex: 1;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  text-decoration: underline;
}

.login-popup .text-field {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.login-popup .text-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.login-popup .text_label-1 {
  flex: 1;
  line-height: normal;
  margin-top: -1.00px;
}

.login-popup .frame-38280 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.login-popup .frame-38283 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.login-popup .checkbox {
  border: 1px solid;
  border-color: var(--graygray-4);
  border-radius: 4px;
  height: 24px;
  position: relative;
  width: 24px;
}

.login-popup .button-1 {
  align-self: stretch;
  height: 60px;
  width: 100%;
}

.login-popup .icon-login {
  height: 24px;
  position: relative;
  width: 24px;
}

.login-popup .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 6px 87.8px;
  position: absolute;
  top: 0;
  width: auto;
}

.login-popup .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 171px;
  position: relative;
}

.login-popup .icon {
  align-items: flex-start;
  background-image: url(../img/mask-group@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 411px;
  left: 126px;
  min-width: 411px;
  position: absolute;
  top: 296px;
}

.login-popup .ellipse-471 {
  border: 3px solid;
  border-color: var(--main-colormain1);
  border-radius: 205.5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 411px;
  width: 411px;
}

.login-popup .view {
  background-color: #14181f80;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.login-popup .popup {
  align-items: flex-end;
  display: flex;
  height: 351px;
  left: 444px;
  min-width: 552px;
  position: absolute;
  top: 306px;
}

.login-popup .frame-container {
  border-radius: 10px;
  height: 354px;
  margin-bottom: -3px;
  position: relative;
  width: 552px;
}

.login-popup .frame-38264 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: inline-flex;
  gap: 10px;
  left: 0;
  overflow: hidden;
  padding: 40px;
  position: absolute;
  top: 0;
}

.login-popup .frame-38266 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 472px;
}

.login-popup .frame-38265 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.login-popup .alert-02 {
  height: 86px;
  position: relative;
  width: 86px;
}

.login-popup .text_label-2 {
  color: var(--red);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 600;
  line-height: 60.0px;
  text-align: center;
  width: 468px;
}

.login-popup .text_label-3 {
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 468px;
}

.login-popup .frame-38262 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.login-popup .button-2 {
  width: 216px;
}

.login-popup .text_label-4 {
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.login-popup .frame-1041 {
  height: 31px;
  left: 505px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.login-popup .button-3 {
  align-items: center;
  background-color: var(--main);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
}

.login-popup .line {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.login-popup .text_label-5 {
  letter-spacing: 0;
  position: relative;
}



/* CSS สำหรับจัดตำแหน่ง popup ตรงกลางหน้าจอ */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  align-content: center;
  height: 236px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  max-width: 552px;
  position: relative;
  /* เพื่อจัดปุ่มกากบาท */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-btn:hover {
  color: #ff0000;
}

.popup img {
  width: 50px;
  margin-bottom: 20px;
}

.popup h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 14px;
  margin-bottom: 20px;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

/* ลบสีม่วงของลิงก์ที่คลิกแล้ว */
a:link, a:visited {
  color: white; /* สีที่คุณต้องการ */
  text-decoration: none; /* เอาเส้นใต้ลิงก์ออกถ้าต้องการ */
}

/* เปลี่ยนสีเมื่อโฮเวอร์ */
a:hover, a:active {
  color: #f0f0f0; /* สีเมื่อโฮเวอร์ */
}


/* screen - main-2 */

.main-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1428px;
  width: 1440px;
}

.main-2 .header {
  align-items: center;
  background-color: var(--midnight-blue);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 6px 87.8px;
  width: auto;
}

.main-2 .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.main-2 .navbar {
  align-items: center;
  display: inline-flex;
  gap: 50px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.main-2 .navbar-link-text-15 {
  text-decoration: underline;
}

.main-2 .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 171px;
  position: relative;
}

.main-2 .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.main-2 .vector {
  height: 35px;
  position: relative;
  width: 35px;
}

.main-2 .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 355px;
  height: 90px;
  margin-left: 100px;
  margin-top: 62px;
  min-width: 732px;
}

.main-2 .button {
  align-items: center;
  background-color: var(--pink);
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
}

.main-2 .icon-back {
  height: 24px;
  position: relative;
  width: 24px;
}

.main-2 .text_label {
  color: var(--midnight-blue);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main-2 .text-1-1 {
  align-self: flex-end;
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48.0px;
  min-width: 223px;
  text-align: center;
  white-space: nowrap;
}

.main-2 .frame-27 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 47px;
  overflow: hidden;
  padding: 20px 40px;
  position: relative;
  width: 1240px;
}

.main-2 .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 108px;
  position: relative;
  width: 100%;
}

.main-2 .frame-1 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--delta);
  border-radius: 8.66px;
  height: 110px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  width: 110px;
}

.main-2 .image-8 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.main-2 .frame-94 {
  align-items: center;
  display: flex;
  height: 108px;
  justify-content: space-between;
  position: relative;
  width: 1034px;
}

.main-2 .frame-93 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.main-2 .text-2 {
  margin-top: -1.00px;
  width: fit-content;
}

.main-2 .frame-92 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.main-2 .text-3 {
  margin-top: -1.00px;
  width: fit-content;
}

.main-2 .frame-95 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 75px;
  height: 124px;
  justify-content: space-around;
  margin-bottom: -8.00px;
  margin-top: -8.00px;
  position: relative;
  width: 225px;
}

.main-2 .frame-18 {
  align-items: center;
  background-color: var(--gallery-2);
  border-radius: 62px;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  width: 129px;
}

.main-2 .text-4 {
  margin-top: -1.00px;
  width: fit-content;
}

.main-2 .line-1 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.main-2 .frame-93-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 749px;
}

.main-2 .text-5 {
  margin-top: -1.00px;
  width: fit-content;
}

.main-2 .text-6 {
  color: transparent;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xs);
  font-weight: 400;
  width: fit-content;
}

.main-2 .span1 {
  color: #a1a1a1;
}

.main-2 .text-7 {
  margin-top: -1.00px;
  width: fit-content;
}

.main-2 .text {
  margin-top: -1.00px;
  width: 815px;
}

.main-2 .text-1 {
  width: fit-content;
}

.main-2 .frame-95-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 75px;
  height: 124px;
  justify-content: space-around;
  margin-bottom: -8.00px;
  margin-left: -6px;
  margin-top: -8.00px;
  position: relative;
  width: 225px;
}

.main-2 .text-10 {
  margin-top: -1.00px;
  width: fit-content;
}

.main-2 .text-13 {
  margin-top: -1.00px;
  width: fit-content;
}

.main-2 .frame-99 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.main-2 .grand-total {
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.main-2 .text-14 {
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 700;
  margin-top: -1.00px;
  text-align: right;
  width: fit-content;
}

.main-2 .frame-14 {
  align-items: center;
  background-color: var(--midnight-blue);
  border-radius: 62px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  height: 45px;
  justify-content: center;
  margin-left: 69.0px;
  margin-top: 86px;
  overflow: hidden;
  padding: 16px 54px;
  position: relative;
  width: 457px;
}

.main-2 .text-20 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-weight: 700;
  margin-bottom: -7.50px;
  margin-top: -9.50px;
  width: fit-content;
}

.main-2 .arrow-down-bold-1 {
  height: 24px;
  margin-bottom: -5.50px;
  margin-top: -5.50px;
  position: relative;
  width: 24px;
}

.main-2 .footer {
  align-items: flex-start;
  background-color: var(--midnight-blue);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 266px;
  padding: 22px 552px;
  width: 1440px;
}

.main-2 .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.main-2 .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main-2 .number-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main-2 .text-8 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}
