/* screen - u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 */

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1450px;
  width: 1440px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 6px 87.8px;
  width: auto;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .navbar {
  align-items: center;
  display: inline-flex;
  gap: 50px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 171px;
  position: relative;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .vector {
  height: 35px;
  position: relative;
  width: 35px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .button {
  align-self: flex-start;
  background-color: var(--pink);
  border-radius: 10px;
  display: inline-flex;
  margin-left: 100px;
  margin-top: 62px;
  padding: 8px 24px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text-1 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48.0px;
  margin-right: 42.0px;
  margin-top: 18px;
  min-width: 336px;
  text-align: center;
  white-space: nowrap;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38505 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 62px;
  margin-top: 20px;
  position: relative;
  width: 1240px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38395 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text-7 {
  align-self: stretch;
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-27 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 25px 24px;
  position: relative;
  width: 100%;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38434 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-9 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 220px;
  height: 108px;
  position: relative;
  width: 100%;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-94 {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 108px;
  justify-content: space-around;
  position: relative;
  width: 747px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-93 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text {
  color: transparent;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 747px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .span1 {
  color: #d92c20;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-1 {
  width: fit-content;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .button-new-1 {
  align-items: center;
  background-color: var(--gray);
  border: 1px solid;
  border-color: var(--licorice);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  width: 225px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-2 {
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text-field {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 0px 8px;
  position: relative;
  width: 351px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-20 {
  align-items: center;
  align-self: stretch;
  background-color: var(--gray);
  border: 1px solid;
  border-color: var(--bggrey);
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-3 {
  color: var(--bggrey);
  flex: 1;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 400;
  margin-top: -1.00px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .button-new {
  background-color: var(--pink);
  border: 1px solid;
  border-color: var(--licorice);
  border-radius: 50px;
  display: flex;
  padding: 8px 16px;
  width: 225px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 747px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .button-1 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--main);
  border-radius: 34px;
  display: flex;
  flex: 0 0 auto;
  padding: 8px 24px;
  width: 274px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-14 {
  align-items: center;
  background-color: var(--main);
  border-radius: 62px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  height: 60px;
  justify-content: center;
  margin-right: 1.0px;
  margin-top: 248px;
  overflow: hidden;
  padding: 16px 54px;
  position: relative;
  width: 457px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text-11 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 148px;
  padding: 22px 552px;
  width: 1440px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .button-2 {
  align-items: center;
  cursor: pointer;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-4-2 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}


.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .view {
  align-items: flex-start;
  background-color: #14181f80;
  display: flex;
  height: 1667px;
  left: 0;
  padding: 527px 444px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .popup {
  align-items: flex-end;
  display: flex;
  height: 287px;
  min-width: 552px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-container {
  border-radius: 10px;
  height: 288px;
  margin-bottom: 50px;
  position: relative;
  width: 552px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38264 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: inline-flex;
  gap: 10px;
  left: 0;
  overflow: hidden;
  padding: 40px;
  position: absolute;
  top: 0;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38266 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 472px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38265 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-2 {
  color: var(--pink);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  line-height: 60.0px;
  margin-top: -1.00px;
  text-align: center;
  width: 468px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-3 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 468px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38262 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .button-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  width: 216px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .button-3 {
  background-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  width: 216px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-4 {
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .frame-1041 {
  cursor: pointer;
  height: 31px;
  left: 505px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .button-4 {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-5 {
  letter-spacing: 0;
  position: relative;
}

.u3627u3609u3657u3634u3626u3633u3656u3591u3595u3639u3657u3629u95u3649u3609u3610u3648u3629u3585u3626u3634u3619u3585u3634u3619u3626u3633u3656u3591u3595u3639u3657u3629 .xxxx-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}
