/* screen - popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 */

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1371px;
  overflow: hidden;
  width: 1440px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .overlap-group1 {
  height: 1667px;
  position: relative;
  width: 1440px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  height: 76px;
  justify-content: flex-start;
  left: 0;
  padding: 22px 552px;
  position: absolute;
  top: 1295px;
  width: 1440px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .button {
  background-color: var(--pink);
  border-radius: 10px;
  display: inline-flex;
  gap: 8px;
  left: 100px;
  padding: 8px 24px;
  position: absolute;
  top: 142px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .icon-back {
  height: 24px;
  position: relative;
  width: 24px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text_label {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 600;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 6px 87.8px;
  position: absolute;
  top: 0;
  width: auto;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .navbar {
  align-items: center;
  display: inline-flex;
  gap: 50px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 171px;
  position: relative;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .vector {
  height: 35px;
  position: relative;
  width: 35px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text-6 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 639px;
  letter-spacing: 0;
  line-height: 48.0px;
  position: absolute;
  text-align: center;
  top: 184px;
  white-space: nowrap;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38478 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
  left: 100px;
  position: absolute;
  top: 281px;
  width: 1255px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38419 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38395 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text-7 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-29 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 25px 24px;
  position: relative;
  width: 100%;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-3826 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 24px;
  height: 42px;
  position: relative;
  width: 100%;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .radio-button-1 {
  height: 24px;
  position: relative;
  width: 24px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-4 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  justify-content: center;
  left: 2px;
  min-width: 20px;
  position: relative;
  top: 2px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .overlap-group {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--main);
  border-radius: 12px;
  display: flex;
  height: 24px;
  margin-top: -2px;
  min-width: 24px;
  padding: 2.5px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .ellipse-1 {
  background-color: var(--main);
  border-radius: 7.5px;
  height: 15px;
  width: 15px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text-8 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .radio-button {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 24px;
  position: relative;
  width: 24px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-3 {
  height: 20px;
  position: relative;
  width: 20px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .ellipse-2 {
  border: 2px solid;
  border-color: var(--main);
  border-radius: 12px;
  height: 24px;
  width: 24px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .qr-code {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-3-1 {
  height: 20px;
  position: relative;
  width: 20px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .ellipse-2-1 {
  border: 2px solid;
  border-color: var(--gray);
  border-radius: 12px;
  height: 24px;
  width: 24px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .gfmis {
  color: var(--gray);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-28 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 20px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 20px 24px;
  position: relative;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-102 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 1207px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .transport-fee {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text_label-1 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .total-vat {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .grand-total {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .xxxx-1 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 700;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38477 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 43px;
  position: relative;
  width: 629px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-14 {
  align-items: center;
  background-color: var(--main);
  border-radius: 62px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 54px;
  position: relative;
  width: 351px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .button-1 {
  background-color: #ffffff1a;
  border: 1px solid;
  border-color: #dce0e5;
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a , inset 0px 7px 12px #ffffff14;
  display: flex;
  gap: 6px;
  height: 60px;
  margin-right: -2.00px;
  padding: 8px 16px;
  position: relative;
  width: 237px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .icon-btn-left {
  height: 20px;
  position: relative;
  width: 20px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text-sm {
  color: #14181f;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .view {
  align-items: flex-start;
  background-color: #14181f80;
  display: flex;
  height: 1667px;
  left: 0;
  padding: 527px 444px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .popup {
  align-items: flex-end;
  display: flex;
  height: 287px;
  min-width: 552px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-container {
  border-radius: 10px;
  height: 288px;
  margin-bottom: -1px;
  position: relative;
  width: 552px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38264 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: inline-flex;
  gap: 10px;
  left: 0;
  overflow: hidden;
  padding: 40px;
  position: absolute;
  top: 0;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38266 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 472px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38265 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text_label-2 {
  color: var(--pink);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  line-height: 60.0px;
  margin-top: -1.00px;
  text-align: center;
  width: 468px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text_label-3 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 468px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-38262 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .button-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  width: 216px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .button-3 {
  background-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  position: relative;
  width: 216px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text_label-4 {
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .frame-1041 {
  cursor: pointer;
  height: 31px;
  left: 505px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .button-4 {
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .text_label-5 {
  letter-spacing: 0;
  position: relative;
}

.popupu95u3618u3639u3609u3618u3633u3609u3585u3634u3619u3594u3635u3619u3632u3648u3591u3636u3609 .xxxx-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}
