:root { 
  --bggrey: #707070;
  --bkack: #000000;
  --black: #00000033;
  --gray: #d9d9d9;
  --main: #012a6c;
  --pink: #fca0a6;
  --vulcan: #14181f;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 17px;
  --font-size-xl: 22px;
  --font-size-xs: 16px;
  --font-size-xxl: 32px;
 
  --font-family-kanit: "Kanit", Helvetica;
  --font-family-noto_sans_thai: "Noto Sans Thai", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
}
.notosansthai-normal-black-18px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-normal-black-17px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-normal-black-20px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-semi-bold-black-22px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-semi-bold-vulcan-20px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-normal-vulcan-18px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
