/* screen - main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 */

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1591px;
  width: 1440px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 6px 87.8px;
  width: auto;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .navbar {
  align-items: center;
  display: inline-flex;
  gap: 40px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 220px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .vector-1 {
  height: 35px;
  position: relative;
  width: 35px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38357 {
  align-items: flex-start;
  display: inline-flex;
  gap: 32px;
  margin-top: 70px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38357-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 316px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38354 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38350 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-383 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .icon {
  height: 34px;
  position: relative;
  width: 34px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-1-1 {
  color: var(--pink);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38-1 {
  align-items: center;
  display: inline-flex;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .arrow-down-01 {
  height: 24px;
  position: relative;
  width: 24px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38351 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 50px;
  position: relative;
  width: 251px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-2-1 {
  align-self: stretch;
  color: var(--pink);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .vector {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 316px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38351-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  margin-left: -50.00px;
  margin-right: -50.00px;
  padding: 0px 50px;
  position: relative;
  width: 251px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-8 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: -80.00px;
  position: relative;
  width: 231px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38356 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 892px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-11 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38398 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 25px 24px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38483 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 400px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .ellipse-11 {
  height: 100px;
  object-fit: cover;
  position: relative;
  width: 100px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .group-239179 {
  height: 60px;
  margin-right: -4.00px;
  position: relative;
  width: 176px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-12 {
  color: var(--bkack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .examplegmailcom {
  color: var(--bkack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 36px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .button {
  align-items: flex-start;
  background-color: var(--pink);
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  margin-right: -1.00px;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text_label {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38397 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-30 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  height: 1033px;
  overflow: hidden;
  padding: 25px 24px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-15 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-field {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 0px 8px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-20 {
  align-items: center;
  align-self: stretch;
  background-color: var(--gray);
  border: 1px solid;
  border-color: var(--bggrey);
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text_input {
  background-color: transparent;
  border: 0;
  flex: 1;
  flex-grow: 1;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text_input::placeholder {
  color: #00000099;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-28 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  overflow: hidden;
  padding: 25px 24px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38296 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-field-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 0px 0px 8px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38308 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38485 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38399 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .button-new {
  background-color: var(--pink);
  border-color: #121212;
  border-radius: 50px;
  display: flex;
  gap: 8px;
  width: 225px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text_label-1 {
  color: #121212;
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .button-1 {
  background-color: #ffffff1a;
  border-color: #dce0e5;
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a , inset 0px 7px 12px #ffffff14;
  cursor: pointer;
  display: inline-flex;
  gap: 6px;
  height: 48px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .icon-btn-left {
  height: 20px;
  position: relative;
  width: 20px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .text-sm {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 74px;
  padding: 22px 552px;
  width: 1440px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .button-2 {
  align-items: center;
  border: 1px solid;
  justify-content: center;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
}

.main-userprofile-u3626u3606u3634u3609u3624u3638u3585u3625u3634 .frame-38-3 {
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}
