:root { 
  --bggrey: #707070;
  --black: #000000;
  --green: #039754;
  --main: #012a6c;
  --pink: #fca0a6;
  --white: #ffffff;
 
  --font-size-l: 22px;
  --font-size-m: 20px;
  --font-size-s: 17px;
  --font-size-xl: 32px;
  --font-size-xs: 16px;
  --font-size-xxl: 40px;
 
  --font-family-kanit: "Kanit", Helvetica;
  --font-family-noto_sans_thai: "Noto Sans Thai", Helvetica;
}
.notosansthai-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
