/* screen - homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr */

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1673px;
  width: 1440px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 6px 87.8px;
  width: auto;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .navbar {
  align-items: center;
  display: inline-flex;
  gap: 40px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .navbar-link-text-18 {
  text-decoration: underline;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 220px;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .vector {
  height: 35px;
  position: relative;
  width: 35px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 324px;
  height: 90px;
  margin-left: 100px;
  margin-top: 62px;
  min-width: 762px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .button {
  align-items: center;
  background-color: var(--pink);
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .icon-back {
  height: 24px;
  position: relative;
  width: 24px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text_label {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-1-1 {
  align-self: flex-end;
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48.0px;
  min-width: 284px;
  text-align: center;
  white-space: nowrap;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38444 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 85px;
  position: relative;
  width: 1252px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 25px 24px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38339 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 650px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-2 {
  width: 282px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38426 {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  position: relative;
  width: 271px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .xxxxxxxx {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 42.0px;
  margin-left: -92.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 251px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .button-1 {
  background-color: var(--gray);
  border-color: var(--main);
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 8px 24px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text_label-1 {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xs);
  font-weight: 600;
  text-align: center;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38429 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 314px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-4 {
  margin-top: -1.00px;
  text-align: right;
  width: 866px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .line-6 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38268 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bkack);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38408 {
  height: 66px;
  margin-right: -62.00px;
  position: relative;
  width: 1234px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38407 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 1153px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38269 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 1094px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-6 {
  margin-top: -1.00px;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-7 {
  margin-top: -1.00px;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .address {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1094px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38420 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 94px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38268-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bkack);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 54px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38424 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  margin-bottom: -5.00px;
  margin-right: -16.00px;
  position: relative;
  width: 1188px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38408-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38407-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 1121px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .ems {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-9 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xs);
  font-weight: 700;
  margin-top: -1.00px;
  width: 314px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 108px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-95 {
  background-color: #f0eeed;
  border: 1px solid;
  border-color: #a2a2a2;
  border-radius: 8.66px;
  height: 110px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  width: 110px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .image-8 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-94 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  height: 108px;
  justify-content: space-around;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-94-1 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 52px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 110px;
  position: relative;
  width: 281px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-10 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 600;
  margin-right: -155.00px;
  margin-top: -1.00px;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-1 {
  color: transparent;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xs);
  font-weight: 400;
  margin-top: -1.00px;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .span1 {
  color: #a1a1a1;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-93-1 {
  height: 110px;
  left: 333px;
  position: absolute;
  top: 0;
  width: 361px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-18 {
  align-items: center;
  background-color: #efefef;
  border-radius: 62px;
  display: flex;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  width: 129px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .number {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-12 {
  margin-top: -1.00px;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-13 {
  margin-right: -99.00px;
  margin-top: -1.00px;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38433 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .number-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-15 {
  margin-top: -1.00px;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-16 {
  align-self: stretch;
  margin-top: -1.00px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38262 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 24px;
  height: 42px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38399 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .button-new {
  background-color: var(--pink);
  border-color: #121212;
  border-radius: 50px;
  display: flex;
  padding: 8px 16px;
  width: 225px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text_label-2 {
  color: #121212;
  font-family: var(--font-family-kanit);
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-38381 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 245px;
  overflow: hidden;
  padding: 20px 24px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-102 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  margin-bottom: -1.00px;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .frame-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .transport-fee {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .xxxx {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .total-vat {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .line-6-1 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .grand-total {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .xxxx-1 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 93px;
  padding: 22px 552px;
  width: 1440px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .button-2 {
  align-items: center;
  border: 1px solid;
  cursor: pointer;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text-3 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.homeu95u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3626u3619u3657u3634u3591u3651u3610u3626u3633u3656u3591u3595u3639u3657u3629-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3651u3610-pr .text_label-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}
