:root { 
  --bggrey: #707070;
  --bkack: #000000;
  --black: #00000033;
  --blue: #3347ff;
  --delta: #a2a2a2;
  --gallery: #f0eeed;
  --gallery-2: #efefef;
  --geyser: #dce0e5;
  --main: #012a6c;
  --pink: #fca0a6;
  --white: #ffffff;
 
  --font-size-l: 22px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xs: 16px;
  --font-size-xxs: 15px;
  --font-size-xxxs: 14px;
 
  --font-family-noto_sans_thai: "Noto Sans Thai", Helvetica;
}
.notosansthai-semi-bold-black-20px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-normal-black-16px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-medium-black-14px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
}

.notosansthai-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-normal-black-20px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-semi-bold-black-22px {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}
