/* screen - popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 */

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1931px;
  overflow: hidden;
  width: 1440px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .overlap-group1 {
  height: 1932px;
  position: relative;
  width: 1440px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-1-1 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 594px;
  letter-spacing: 0;
  line-height: 48.0px;
  position: absolute;
  text-align: center;
  top: 184px;
  white-space: nowrap;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .button {
  align-items: center;
  background-color: var(--pink);
  border-radius: 10px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 100px;
  overflow: hidden;
  padding: 8px 24px;
  position: absolute;
  top: 142px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .icon-back {
  height: 24px;
  position: relative;
  width: 24px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text_label {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38489 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 118px;
  position: absolute;
  top: 317px;
  width: 1252px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-28 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 25px 24px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38339 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 783px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-2-1 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 150px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38426 {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  position: relative;
  width: 271px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .xxxxxxxx {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 42.0px;
  margin-top: -1.00px;
  position: relative;
  width: 121px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .button-1 {
  background-color: var(--gray);
  border: 1px solid;
  border-color: var(--main);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 96px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text_label-1 {
  color: var(--main);
  font-size: var(--font-size-m);
  line-height: normal;
  margin-left: -0.50px;
  margin-right: -0.50px;
  margin-top: -1.00px;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-384 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 314px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-1 {
  line-height: normal;
  margin-top: -1.00px;
  text-align: right;
  width: 866px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38425 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38268 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bkack);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38408 {
  height: 66px;
  margin-right: -62.00px;
  position: relative;
  width: 1234px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38407 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 1153px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38269 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 1094px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-14 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-15 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .address {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 1094px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38420 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 172px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38268-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bkack);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 132px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38424 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  margin-bottom: -1.00px;
  margin-right: -16.00px;
  position: relative;
  width: 1188px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38408-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38407-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 1121px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .xxx-express-th00000000000 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38423 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-17 {
  color: var(--green);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 600;
  line-height: normal;
  margin-top: -1.00px;
  width: 1094px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-18 {
  line-height: normal;
  width: 1094px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .dropdown {
  height: 34px;
  position: relative;
  width: 34px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 108px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-95 {
  background-color: #f0eeed;
  border: 1px solid;
  border-color: #a2a2a2;
  border-radius: 8.66px;
  height: 110px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  width: 110px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .image-8 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-94 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  height: 108px;
  justify-content: space-around;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-94-1 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 52px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 110px;
  position: relative;
  width: 281px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-20 {
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  line-height: normal;
  margin-right: -155.00px;
  margin-top: -1.00px;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-2 {
  color: transparent;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .span1 {
  color: #a1a1a1;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-93-1 {
  height: 110px;
  left: 333px;
  position: absolute;
  top: 0;
  width: 361px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-18 {
  align-items: center;
  background-color: #efefef;
  border-radius: 62px;
  display: flex;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  width: 129px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .number {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-22 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-23 {
  line-height: normal;
  margin-right: -100.00px;
  margin-top: -1.00px;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38433 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .number-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-25 {
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-93-2 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 33px;
  position: relative;
  width: 100%;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38340 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .grand-total {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 202px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .address-1 {
  color: var(--pink);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38436 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38435 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-26 {
  line-height: normal;
  margin-top: -1.00px;
  width: 429px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .button-2 {
  background-color: var(--pink);
  border: 1px solid;
  border-color: #dce0e5;
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a , inset 0px 7px 12px #ffffff14;
  display: inline-flex;
  gap: 6px;
  height: 48px;
  padding: 8px 16px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .icon-btn-left {
  height: 20px;
  position: relative;
  width: 20px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-sm {
  color: #14181f;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 500;
  line-height: 25.2px;
  white-space: nowrap;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38379 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .button-3 {
  background-color: var(--gray);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 223px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .button-4 {
  background-color: var(--main);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 245px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 6px 87.8px;
  position: absolute;
  top: 0;
  width: auto;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .navbar {
  align-items: center;
  display: inline-flex;
  gap: 50px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 171px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .vector {
  height: 35px;
  position: relative;
  width: 35px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  height: 76px;
  justify-content: flex-start;
  left: 0;
  padding: 22px 552px;
  position: absolute;
  top: 1856px;
  width: 1440px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .view {
  background-color: #14181f80;
  height: 1931px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .popup {
  align-items: flex-start;
  display: flex;
  height: 374px;
  left: 444px;
  min-width: 552px;
  position: absolute;
  top: 820px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-container {
  border-radius: 10px;
  height: 374px;
  position: relative;
  width: 552px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38264 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: inline-flex;
  gap: 10px;
  left: 0;
  overflow: hidden;
  padding: 40px;
  position: absolute;
  top: 0;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38266 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 472px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38265 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .check-one {
  height: 86px;
  position: relative;
  width: 86px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text_label-2 {
  color: var(--green);
  font-size: var(--font-size-xxxxl);
  line-height: 60.0px;
  width: 468px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-38262 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .button-5 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 216px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .button-6 {
  background-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 216px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .frame-1041 {
  cursor: pointer;
  height: 31px;
  left: 505px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .button-7 {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text-3 {
  letter-spacing: 0;
  position: relative;
}

.popup-u3618u3639u3656u3609u3588u3635u3586u3629u3588u3639u3609u3648u3591u3636u3609u47u3588u3639u3609u3626u3636u3609u3588u3657u3634-u3626u3635u3648u3619u3655u3592 .text_label-3 {
  font-family: var(--font-family-noto_sans_thai);
  font-weight: 600;
  letter-spacing: 0;
  position: relative;
  text-align: center;
}
