<header class="header">
    <a href="../หน้าแรก/login.html">
      <img class="logo-1" src="img/logo------1.png" alt="logo" />
    </a>
    <div class="navbar notosansthai-semi-bold-white-20px">
      <div class="navbar-link-text">
        <a href="../ออกใบสั่งซื้อสถานศึกษา/index.html">ออกใบขอสั่งซื้อ</a>
      </div>
      <div class="navbar-link-text">
        <a href="../เอกสารใบขอสั่งซื้อ/อนุมัติสำเร็จ/index.html">เอกสารใบขอสั่งซื้อ</a>
      </div>
      <div class="navbar-link-text">
        <a href="./order.html">รายการคำสั่งซื้อ</a>
      </div>
      <div class="navbar-link-text">
        <a href="./order-cancle.htmll">ยกเลิกเลข ปพ.</a>
      </div>
      <div class="navbar-link-text">
        <a href="./order.html">ประวัติการสั่งซื้อ</a>
      </div>
    </div>
    <div class="frame-38253">
      <img class="group" src="img/group@2x.png" alt="Group" />
      <img class="vector-1" src="img/vector-2.svg" alt="Vector" />
    </div>
  </header>
  