/* screen - u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 */

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1471px;
  width: 1440px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 6px 87.8px;
  width: auto;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .navbar {
  align-items: center;
  display: inline-flex;
  gap: 40px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .navbar-link-text-4 {
  text-decoration: underline;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 220px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .vector-1 {
  height: 35px;
  position: relative;
  width: 35px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38357 {
  align-items: flex-start;
  display: inline-flex;
  gap: 32px;
  margin-top: 70px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38357-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 316px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38354 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38352 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38350 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-383 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38348 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .arrow-down-01 {
  height: 24px;
  position: relative;
  width: 24px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38351 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 50px;
  position: relative;
  width: 251px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-7 {
  align-self: stretch;
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  margin-top: -1.00px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-8 {
  align-self: stretch;
  color: var(--bkack);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .vector {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 316px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .checkmark-square-04 {
  height: 34px;
  position: relative;
  width: 34px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-10 {
  color: var(--pink);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 600;
  margin-top: -0.50px;
  text-align: center;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .vector-22 {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 316px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38356 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 892px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38359 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38344 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 48px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-1 {
  cursor: pointer;
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38343 {
  align-self: stretch;
  height: 6px;
  margin-bottom: -3.00px;
  margin-right: -1.00px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-20 {
  align-items: center;
  align-self: stretch;
  background-color: #f2f2f2;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 8px;
  display: flex;
  gap: 24px;
  height: 55px;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .icon-magnifying-glass-searching-glass {
  height: 30px;
  position: relative;
  width: 30px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text_input {
  background-color: transparent;
  border: 0;
  color: #707070;
  flex: 1;
  flex-grow: 1;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text_input::placeholder {
  color: #70707099;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 25px 24px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38339 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 64px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .xxxxxxxx {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 314px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38341 {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  position: relative;
  width: 466px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-17 {
  cursor: pointer;
  text-align: right;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .button {
  align-items: center;
  background-color: var(--red);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
  width: 153px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text_label {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .line-6 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 108px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-95 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--delta);
  border-radius: 8.66px;
  height: 110px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  width: 110px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .image-8 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-94 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  height: 108px;
  justify-content: space-around;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-94-1 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 52px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 110px;
  position: relative;
  width: 281px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-2 {
  margin-right: -155.00px;
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-93-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-right: -85.00px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38433 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-19 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-20 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-21 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-93-2 {
  align-items: flex-end;
  display: flex;
  gap: 6px;
  height: 110px;
  width: 361px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .xxx {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-3 {
  margin-right: -99.00px;
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38433-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  margin-right: -85.00px;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-23 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-24 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-25 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-38341-1 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 33px;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .grand-total {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .xxx-2 {
  color: var(--pink);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 600;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-26 {
  text-align: right;
  width: 142px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .button-1 {
  align-items: center;
  background-color: var(--red);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
  width: 153px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .line-6-1 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-28 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-29 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-30 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-32 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-33 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-34 {
  margin-top: -1.00px;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .xxx-5 {
  color: var(--pink);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 600;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 92px;
  padding: 22px 552px;
  width: 1440px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .frame-93-3 {
  flex-direction: column;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .icon {
  height: 34px;
  position: relative;
  width: 34px;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .text-4 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.u3611u3614u46u3629u3629u3609u3652u3621u3609u3660u95u3648u3586u3605u3614u3639u3657u3609u3607u3637u3656-u3619u3634u3618u3585u3634u3619u3588u3635u3626u3633u3656u3591u3595u3639u3657u3629u95u3607u3637u3656u3605u3657u3629u3591u3652u3604u3657u3619u3633u3610 .xxx-6 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}
