:root { 
  --bggrey: #707070;
  --black: #000000;
  --black-haze: #f6f7f9;
  --blue: #3347ff;
  --clementine: #db6e00;
  --geyser: #dce0e5;
  --main: #012a6c;
  --pattens-blue: #e0edff;
  --pink: #fca0a6;
  --vis-vis: #ffed9e;
  --vulcan: #14181f;
  --white: #ffffff;
  --white-2: #ffffff1a;
 
  --font-size-l: 20px;
  --font-size-m: 15px;
  --font-size-s: 13px;
  --font-size-xl: 32px;
 
  --font-family-noto_sans_thai: "Noto Sans Thai", Helvetica;
}
.notosansthai-normal-vulcan-15px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-medium-vulcan-15px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.notosansthai-normal-clementine-13px {
  color: var(--clementine);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-semi-bold-vulcan-15px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-medium-blue-15px {
  color: var(--blue);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.notosansthai-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}
