:root { 
  --black: #000000;
  --midnight-blue: #012a6c;
  --pink: #fca0a6;
  --vulcan: #14181f;
  --white: #ffffff;
 
  --font-size-l: 32px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
 
  --font-family-noto_sans_thai: "Noto Sans Thai", Helvetica;
}
.notosansthai-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-semi-bold-vulcan-20px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-normal-vulcan-20px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
