:root { 
  --bg-colorbg1: #f7f7f7;
  --bkack: #000000;
  --main: #012a6c;
  --main-colormain2: #0b24fb;
  --main-colorthird2: #e3e6fe;
  --pink: #fca0a6;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
 
  --font-family-noto_sans_thai: "Noto Sans Thai", Helvetica;
}
.notosansthai-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
