/* screen - homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 */

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2345px;
  width: 1440px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 80px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 6px 87.8px;
  width: auto;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .navbar {
  align-items: center;
  display: inline-flex;
  gap: 50px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .navbar-link-text-1 {
  text-decoration: underline;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 171px;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .vector-1 {
  height: 35px;
  position: relative;
  width: 35px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 382px;
  height: 90px;
  margin-left: 100px;
  margin-top: 62px;
  min-width: 705px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button-3 {
  background-color: var(--pink);
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  padding: 8px 24px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .icon-back {
  height: 24px;
  position: relative;
  width: 24px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text_label {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 600;
  text-align: center;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-6 {
  align-self: flex-end;
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 48.0px;
  min-width: 169px;
  text-align: center;
  white-space: nowrap;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38327 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 1.0px;
  margin-top: 105px;
  position: relative;
  width: 1241px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38385 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bggrey);
  border-radius: 8px;
  flex: 1;
  flex-grow: 1;
  height: 42px;
  overflow: hidden;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38329-1 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 16px;
  position: relative;
  top: 8px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .icon {
  height: 20px;
  position: relative;
  width: 20px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text_input {
  background-color: transparent;
  border: 0;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
  width: 170px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text_input::placeholder {
  color: #70707099;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38329 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 16px;
  position: absolute;
  top: 8px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .dropdown {
  height: 23px;
  left: 247px;
  position: absolute;
  top: 10px;
  width: 23px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38387 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button-4 {
  background-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 123px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-1 {
  text-align: center;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button-5 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 123px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-7 {
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36.0px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .table-product {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 20px 40px;
  position: relative;
  width: 100%;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38255 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-8 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 111px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-11 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 106px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-12 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 80px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-13 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 267px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .list-product {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 108px;
  position: relative;
  width: 100%;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-92 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-14 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-33 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--delta);
  border-radius: 8.66px;
  height: 110px;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  width: 110px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .image-8 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-94 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 108px;
  justify-content: space-between;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-15 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-3832 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38319 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 17px;
  position: relative;
  width: 250px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-18 {
  align-items: center;
  background-color: var(--gallery-2);
  border-radius: 10px;
  display: flex;
  gap: 20px;
  height: 46px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  width: 110px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-3 {
  cursor: pointer;
  height: 16px;
  margin-left: -5.50px;
  position: relative;
  width: 16px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .number {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-4 {
  cursor: pointer;
  height: 16px;
  margin-right: -5.50px;
  position: relative;
  width: 16px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button-6 {
  background-color: var(--pink);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 123px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .vector {
  align-self: stretch;
  height: 1px;
  position: relative;
  width: 100%;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1 {
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-1 {
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame {
  height: 16px;
  margin-left: -5.50px;
  position: relative;
  width: 16px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-1 {
  height: 16px;
  margin-right: -5.50px;
  position: relative;
  width: 16px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button {
  background-color: var(--pink);
  border-radius: 10px;
  display: flex;
  gap: 8px;
  padding: 8px 24px;
  width: 123px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-2 {
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-3 {
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-4 {
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-5 {
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-16 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-6 {
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-7 {
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-17 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-8 {
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-9 {
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-18 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-10 {
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .image-8-1 {
  height: 187px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -30px;
  width: 125px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-11 {
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-19 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-12 {
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-13 {
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-20 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-14 {
  width: 50px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-15 {
  width: 421px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-21 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .input-select-button-footer-default {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  position: relative;
  width: 1252px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-38263 {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: 658.5px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .input-select {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 120px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .select-field {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--geyser);
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a , inset 0px 7px 12px #ffffff14;
  display: flex;
  gap: 8px;
  height: 40px;
  overflow: hidden;
  padding: 8px 10px;
  position: relative;
  width: 100%;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .select {
  color: #6f7c8e;
  flex: 1;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21.0px;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-10-100 {
  color: var(--bggrey);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .pagination {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button-1 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--geyser);
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a , inset 0px 7px 12px #ffffff14;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 32px;
  padding: 8px 6px;
  width: 32px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .icon-1 {
  height: 20px;
  margin-bottom: -2.00px;
  margin-top: -2.00px;
  position: relative;
  width: 20px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button-7 {
  background-color: var(--blue);
  border-radius: 8px;
  box-shadow: inset 0px -2px 2px #3030301a , inset 0px 7px 12px #ffffff14;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 32px;
  padding: 8px;
  width: 32px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-sm-1 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxs);
  font-weight: 500;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button-2 {
  background-color: var(--pattens-blue);
  border-radius: 8px;
  display: flex;
  gap: 6px;
  height: 32px;
  padding: 8px;
  width: 32px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-sm {
  letter-spacing: 0;
  line-height: 21.0px;
  margin-bottom: -1.50px;
  margin-top: -3.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-sm-2 {
  margin-left: -1.00px;
  margin-right: -1.00px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .frame-14 {
  align-items: center;
  background-color: var(--main);
  border-radius: 62px;
  display: flex;
  gap: 12px;
  height: 45px;
  justify-content: center;
  margin-left: 23.0px;
  margin-top: 33px;
  overflow: hidden;
  padding: 16px 54px;
  position: relative;
  width: 457px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .n {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -7.50px;
  margin-top: -9.50px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 127px;
  padding: 22px 552px;
  width: 1440px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .button-8 {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .navbar-link-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text-sm-3 {
  letter-spacing: 0;
  line-height: 21.0px;
  margin-bottom: -1.50px;
  margin-top: -3.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .text_label-5 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x1-16 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.homeu95u3629u3629u3585u3651u3610u3586u3629u3626u3633u3656u3591u3595u3639u3657u3629 .x3-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}
