:root { 
  --aluminium: #a9abb4;
  --bggrey: #707070;
  --black: #000000;
  --black-2: #00000033;
  --charade: #292d32;
  --graygray-4: #ced4da;
  --main: #012a6c;
  --main-colormain1: #ed038b;
  --mischka: #cbd0dc;
  --pink: #fca0a6;
  --red: #d92c20;
  --vulcan: #14181f;
  --white: #ffffff;
 
  --font-size-l: 32px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 40px;
  --font-size-xs: 17px;
  --font-size-xxs: 16px;
 
  --font-family-helvetica-regular: "Helvetica-Regular", Helvetica;
  --font-family-noto_sans_thai: "Noto Sans Thai", Helvetica;
}
.content {
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.notosansthai-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-normal-dove-gray-17px {
  color: var(--bggrey);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-semi-bold-vulcan-20px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-normal-thunderbird-18px {
  color: var(--red);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-normal-white-18px {
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-normal-vulcan-18px {
  color: var(--vulcan);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-semi-bold-midnight-blue-20px {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosansthai-semi-bold-black-40px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.notosansthai-semi-bold-charade-20px {
  color: var(--charade);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.notosansthai-normal-aluminium-16px {
  color: var(--aluminium);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
