/* screen - u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 */

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1440px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .overlap-group1 {
  height: 1055px;
  position: relative;
  width: 1440px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .header {
  align-items: center;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 6px 87.8px;
  position: absolute;
  top: 0;
  width: auto;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .logo-1 {
  align-self: flex-end;
  height: 60px;
  object-fit: cover;
  width: 68px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .navbar {
  align-items: center;
  display: inline-flex;
  gap: 40px;
  margin-bottom: 4.0px;
  margin-left: 41px;
  position: relative;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-38253 {
  align-items: center;
  display: inline-flex;
  gap: 56px;
  justify-content: flex-end;
  margin-bottom: 5.0px;
  margin-left: 220px;
  position: relative;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .group {
  height: 35px;
  position: relative;
  width: 31.17px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .vector {
  height: 35px;
  position: relative;
  width: 35px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .text-6 {
  color: var(--black);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-l);
  font-weight: 500;
  left: 575px;
  letter-spacing: 0;
  line-height: 48.0px;
  position: absolute;
  text-align: center;
  top: 184px;
  white-space: nowrap;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .button {
  align-items: center;
  background-color: var(--pink);
  border-radius: 10px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 100px;
  overflow: hidden;
  padding: 8px 24px;
  position: absolute;
  top: 142px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .icon-back {
  height: 24px;
  position: relative;
  width: 24px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .text_label {
  color: var(--main);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .footer {
  align-items: flex-start;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  height: 76px;
  justify-content: flex-start;
  left: 0;
  padding: 22px 552px;
  position: absolute;
  top: 979px;
  width: 1440px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .copyright-2024 {
  color: var(--white);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 30px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-38379 {
  align-items: center;
  display: inline-flex;
  gap: 24px;
  left: 852px;
  position: absolute;
  top: 643px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .button-1 {
  background-color: var(--gray);
  width: 223px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .button-2 {
  background-color: var(--main);
  width: 245px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .text_label-1 {
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-27 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #00000033;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 100px;
  overflow: hidden;
  padding: 25px 24px;
  position: absolute;
  top: 265px;
  width: 1240px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-38438 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-38486 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
  width: 100%;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .view {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .list {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-11437 {
  align-items: flex-start;
  display: flex;
  gap: 80px;
  position: relative;
  width: 200px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-11439 {
  align-items: flex-start;
  display: flex;
  gap: 80px;
  position: relative;
  width: 300px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .line-47 {
  align-self: stretch;
  object-fit: cover;
  position: relative;
  width: 1px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .text_label-2 {
  line-height: normal;
  margin-right: -35.00px;
  margin-top: -1.00px;
  width: fit-content;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .text_label-3 {
  color: #3347ff;
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  text-decoration: underline;
  width: fit-content;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .view-1 {
  background-color: #14181f80;
  height: 1020px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 1440px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .popup {
  align-items: flex-start;
  display: flex;
  height: 288px;
  left: 444px;
  min-width: 552px;
  position: absolute;
  top: 323px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-container {
  border-radius: 10px;
  height: 236px;
  position: relative;
  width: 552px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-38264 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: inline-flex;
  gap: 10px;
  left: 0;
  overflow: hidden;
  padding: 40px;
  position: absolute;
  top: 0;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-38266 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 472px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-38265 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .check-one {
  height: 86px;
  position: relative;
  width: 86px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .text_label-4 {
  color: var(--green);
  font-family: var(--font-family-noto_sans_thai);
  font-size: var(--font-size-xl);
  font-weight: 600;
  line-height: 60.0px;
  text-align: center;
  width: 468px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .frame-1041 {
  cursor: pointer;
  height: 31px;
  left: 505px;
  position: absolute;
  top: 10px;
  width: 31px;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .button-3 {
  align-items: center;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 24px;
  position: relative;
}

.u3629u3609u3640u3617u3633u3605u3636u3626u3606u3634u3609u3624u3638u3585u3625u3634-u3619u3634u3618u3621u3632u3648u3629u3637u3618u3604u3626u3606u3634u3609u3624u3638u3585u3625u3634-popup-u3629u3609u3640u3617u3633u3605u3636u3626u3635u3648u3619u3655u3592 .text_label-5 {
  letter-spacing: 0;
  position: relative;
}
